@charset "UTF-8";
/*
.test-btn {
    background-color: map-get($colors, "jade"); 
}
// >>>  _colors.scss generoidaan suoraan näitä värejä käyttäen kaikki mahdolliset taustavärit, ym, ym...
*/
/*
@debug map-get($colors, "lightYellow");     // #ffffaa
@debug map-has-key($colors, "lightOrange"); // true
@debug map-has-key($colors, "terracotta");  // false
@debug map-remove($colors, "red");          // Poistaa punaisen värin. Näyttää samalla koko listan
@debug map-merge($colors, ("randomColor": #f0c)); // Lisää värin color mappiin
@debug $colors; // Tulostaa konsoliin kaikki $ colors mapissa olevat arvot (ei äsken debugilla lisättyä kuitenkaan)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.text-primary {
  color: #378cec;
}

.bg-primary {
  background-color: #378cec;
}

.text-primary2 {
  color: #7317c9;
}

.bg-primary2 {
  background-color: #7317c9;
}

.text-secondary {
  color: #21d265;
}

.bg-secondary {
  background-color: #21d265;
}

.text-error {
  color: #da2222;
}

.bg-error {
  background-color: #da2222;
}

.text-info {
  color: #f6f63f;
}

.bg-info {
  background-color: #f6f63f;
}

.text-lightJade {
  color: #15ff99;
}

.bg-lightJade {
  background-color: #15ff99;
}

.text-jade {
  color: #00A36C;
}

.bg-jade {
  background-color: #00A36C;
}

.text-blue {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.text-red {
  color: red;
}

.bg-red {
  background-color: red;
}

.text-pink {
  color: pink;
}

.bg-pink {
  background-color: pink;
}

.text-yellow {
  color: yellow;
}

.bg-yellow {
  background-color: yellow;
}

.text-lightYellow {
  color: #ffffaa;
}

.bg-lightYellow {
  background-color: #ffffaa;
}

.text-orange {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.text-lightOrange {
  color: #ffe1aa;
}

.bg-lightOrange {
  background-color: #ffe1aa;
}

.text-purple {
  color: purple;
}

.bg-purple {
  background-color: purple;
}

.text-gray {
  color: gray;
}

.bg-gray {
  background-color: gray;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 3px solid #0ee864;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 30px;
  max-width: 400px;
}
.card .card-title {
  color: #7317c9;
  font-size: 2rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

/*
@debug $base-border-radius; // 20
@debug math.div($base-border-radius, 4); // 5
@debug math.max(12px, 20px, 55px, 43px); // 55px 
*/
/* -- styles -- */
h1 {
  color: #378cec;
}

h1 a {
  color: #7317c9;
  margin-bottom: 0.75rem;
}

button {
  color: white;
  border: 3px;
  background: #378cec;
  border-color: #7317c9;
  border-style: solid;
  border-radius: 20px;
  padding: 0.75rem;
}

.error {
  color: #da2222;
  border-color: #da2222;
  border-style: solid;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 20px;
  border-width: 3px;
}

.notification {
  color: #21d265;
  border-color: #21d265;
  border-style: solid;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 20px;
  border-width: 3px;
}

/*
" muuttujat pitää tietenkin kääritellä ennen kun niitä käytetään. tyhmä minä... -_-' "

[14:59:35] Starting 'buildStyles'...
[14:59:35] 'buildStyles' errored after 10 ms 
[14:59:35] Error in plugin "gulp-sass"       
Message:
    index.scss
Error: Undefined variable.
   ╷
29 │   color: $primary;
   │          ^^^^^^^^
   ╵

*/