 // Variables ||| Theme colors

 $primary: #378cec;
 $primary2: #7317c9;
 $secondary: #21d265;
 $error: #da2222;
 $info: #f6f63f; 

 // Variables ||| spacing

 $base-padding: 0.75rem;
 $base-margin: 0.75rem;

 // Variables ||| Borders

 $base-border-thickness: 3px;
 $base-border-radius: 20px;

 // box-shadow
 $base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

 // font sizes
 $base-font-size: 1rem;